.about-me-container {
  display: flex;
  padding: 30px;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column-reverse;
  }
}

.about-me-heading {
  font-size: 3rem;
  margin-bottom: 15px;
}

.about-me-link-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.about-me-link-image {
  height: 50px;
}

@media (max-width: 768px) {
  .about-me-link-image {
    height: 30px;
  }
}
