.loading-screen {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  line-height: 1.3;
  position: fixed;
  top: 0;
  width: 100%;
}
