nav {
  background-color: var(--darkest-shade);
  color: var(--lightest-shade);
  font-size: 2rem;
  height: 100vh;
  padding: 10px 3%;
  width: auto;
}

@media (max-width: 48em) {
  nav {
    height: auto;
    padding: 10px;
  }
}

.nav__link-container {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-between;
  margin-top: 25px;
}

@media (max-width: 48em) {
  .nav__link-container {
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    margin-top: 0;
  }
}

.nav__link {
  font-size: 3rem;
  position: relative;
}

@media (hover: hover) {
  .nav__link:before {
    background-color: var(--highlight-colour);
    bottom: -3px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 100%;
  }

  .nav__link:hover:before {
    transform: scaleX(1);
    visibility: visible;
  }
}
