.project-summary-container {
  background-color: var(--mid-shade);
  border: 1px solid var(--mid-shade);
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 300px;
  width: 100%;
}

.project-summary-container__hidden {
  background-color: var(--mid-shade);
  border: 1px solid var(--mid-shade);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  flex: 0 0 25%;
  margin: 5px;
}

.project-summary-container__heading {
  text-align: center;
}

.project-summary-container__heading-hidden {
  text-align: center;
}
