.project-summary-container {
  border: 1px solid black;
  border-radius: 2px;
  flex-basis: 33%;
  margin: 5px;
  padding: 5px;
}

.project-summary-heading {
  text-align: center;
}

.project-summary-image {
  border: 1px solid black;
  width: 100%;
}
