.tech-skills-category {
  background-color: var(--highlight-colour-dark);
  color: var(--lightest-shade);
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 15px;
  vertical-align: top;
}

.tech-skills-description {
  background-color: var(--lightest-shade);
  padding-left: 5px;
  padding-top: 5px;
  vertical-align: top;
}
